.scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-border-color:transparent;
    -fx-scale-y:0.5 ;
}
.scroll-pane{
    -fx-background: #D8CCFB;

    -fx-border-color:transparent;
}
.track {
    -fx-background-color: transparent;
    -fx-border-color:#D8CCFB;

}
.scroll-bar:horizontal .thumb {
    -fx-background-color: #916CF5;

}
.Button{
    -fx-background-color: #000000;
}
.scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-border-color:transparent;
}
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}